body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: white;
    width: 100%;
    min-height: 850px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form_container {
    display: none;
}
.active {
    background-color:white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.login {
    background-color: white;
    width: 350px;
    padding: 50px;
    border-radius: 7px;
    position: absolute;
    box-shadow: 0 5px 25px 5px rgb(0 0 0);
}

.login_logo {
    margin: 0px auto 10px;
    display: block;
    max-width: 175px;
}

.register {
    background-color: white;
    width: 350px;
    padding: 50px;
    border-radius: 7px;
    position: absolute;
    box-shadow: 0 5px 15px 5px rgb(0 0 0);
}

.register_logo {
    margin: 0px auto 10px;
    display: block;
    max-width: 175px;
}

.register_form_input {
    width: 100%;
    margin-bottom: 5px;
    height: 25px;
    padding-left: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: Helvetica Light;
    font-size: 14px;
}
.submit_button {
    width: 20%;
    margin-bottom: 0px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    background: #4A5859;
    color: white;
    font-family: Helvetica Light;
    font-size: 15px;
}

.submit_button:hover {
    width: 20%;
    margin-bottom: 0px;
    height: 40px;
    border: 2px solid rgb(167, 76, 43);
    border-radius: 5px;
    background: #4A5859;
    color: #ebe9e7;
    font-family: Helvetica Light;
    font-size: 16px;
    font-weight: bold;
}

.form_toggle{
    color: #4A5859;
    font-family: Helvetica Light;
    font-size: 15px;
}

.form_toggle:hover {
    color: rgb(167, 76, 43);
    font-family: Helvetica Light;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.form_button {
    width: 20%;
    margin-bottom: 0px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: #4A5859;
    color: #ebe9e7;
    font-family: Helvetica Light;
    font-size: 15px;
}

.form_button:hover {
    width: 20%;
    margin-bottom: 0px;
    height: 40px;
    border: 2px solid rgb(167, 76, 43);
    border-radius: 5px;
    background: #4A5859;
    color: #ebe9e7;
    font-family: Helvetica Light;
    font-size: 16px;
    font-weight: bold;
}




.nav-others {
    display: flex;
    justify-content: end;
    width: 250%;
}

ol {
    margin-top: 2%;
    margin-right: 2%;
    padding-left: 0%;
}
.crumb {
    margin-right: 2em;
    display: inline;
}

.nav-a:link {
    color: black;
    text-decoration: none;
}

.nav-a:visited {
    /* color: #8CADA7; */
    color: #4A5859;
}

.nav-a:hover {
    color: rgb(167, 76, 43);
}

.hike-header {
    display: flex;
    width: 100%;
    height: 10vh;
}
