* {
    font-family: "Geneva", sans-serif;
}

.main-page {
    /* background-image: url('https://source.unsplash.com/xaaMf_0IhVs'); */
    background-image: url('https://source.unsplash.com/wxkHg1Tegh4');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav-main {
    border-bottom: 2px solid black;
    border-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}

.nav-others {
    border-bottom: 2px solid black;
    border-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;
}

ol {
    padding-left: 0;
}

.crumb {
    margin-right: 2em;
    display: inline;
}

a:link {
    font-family: "Geneva", sans-serif;
    color: black;
}

a:visited {
    color: rgb(61, 116, 53);
}

a:hover {
    color: rgb(167, 76, 43);
}

.title {
    /* background: rgba(0, 0, 0, .5); */
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "American Typewriter", sans-serif;
    /* font-weight: bold; */
    color: black;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "American Typewriter", sans-serif;
    font-size: 80px;
    color: black;
}


/* my-hikes.html */

.add-entry {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

.hike-form {
    width: 350px;
    height: 350px;
    /* background-color: #82816D; */
    background-color: #4B543B;
    /* background-color: #4A5859; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    color: white;
}

button {
    background-color: white;
    width: 75px;
    height: 25px;
    color: black;
    border: none;
    margin: 5px;
}

input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: white;
}

#ratings-container {
    width: 85%;
}

#radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hike-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hike-cover {
    width: 200px;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.hike-card {
    background-color: #D1C6AD;
    /* background-color: #BBADA0; */
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* .hike-title {
    font-size: 18px;
    margin: 5px 0;
} */

/* .hike-rating {
    font-size: 15px;
    margin: 5px 0;
} */
#hike-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btns-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.btns-container>button {
    width: 20px;
}

#utah-hikes-list {
    background-color: white;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.water {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.water-entry {
    display: flex;
    justify-content: center;
}

.calculator {
    color: white;
    width: 350px;
    height: 350px;
    /* background-color: #82816D; */
    background-color: #4B543B;
    /* background-color: #4A5859; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    margin-top: 3%;
}

#total-water {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}