* {
    font-family: 'Hind', sans-serif;
}

.main-page {
    background-image: url('https://source.unsplash.com/wxkHg1Tegh4');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.second-page {
    /* background-color: #e9e9e9; */
    /* background-color: #dededf; */
    margin: 0%;
}

main {
    /* background-color: #dededf; */
    background-color: #4A5859;
}

/* .nav-main {
    border-bottom: 2px solid black;
    border-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
} */

.nav-others {
    display: flex;
    justify-content: end;
    width: 250%;
}

ol {
    margin-top: 2%;
    margin-right: 2%;
    padding-left: 0%;
}
.crumb {
    margin-right: 2em;
    display: inline;
}

.nav-a:link {
    color: black;
    text-decoration: none;
}

.nav-a:visited {
    /* color: #8CADA7; */
    color: #4A5859;
}

.nav-a:hover {
    color: rgb(167, 76, 43);
}

.main-a:hover {
    color: rgb(167, 76, 43);
}

/* .home { */
    /* background: rgba(0, 0, 0, .5); */
    /* font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    color: black;
    margin-top: 15%; */
    /* border: solid; */
    /* width: 50vw;
    margin-inline: auto;
/* } */


.main-div {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-top: 20%;
    transition: 0.3s;
}
.main-div:hover{
   filter: drop-shadow(8px 8px 10px #4A5859);
}

.logo {
    height: 10vh;
    transition: 0.3s;
}
.logo:hover {
    height: 10.2vh;
}

.hike-header {
    display: flex;
    width: 100%;
    height: 10vh;
}

.block {
    background-color: white;
    width: 100%;
    height: 25%;
}
.page-title {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 0%;
    font-size: 100px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: center;

}

.hike-form {
    width: 350px;
    height: 350px;
    /* background-color: #4B543B; */
    /* background-color: #ACBDBA; */
    background-color: #4A5859;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    border-width: 10px;
    transition: 0.3s;
}
.hike-form:hover {
    filter: drop-shadow(8px 8px 10px black);
}

.add-btn {
    background-color: white;
    width: 75px;
    height: 25px;
    color: black;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.3s;
}
.add-btn:hover {
    border-color: #32373b;
    font-weight: bold;
    font-size: 13.7px;
}

#rating-one {
    margin-right: 15px;
    margin-left: 0px;
}
#rating-two {
    margin-right: 15px;
    margin-left: 0px;
}
#rating-three {
    margin-right: 15px;
    margin-left: 0px;
}
#rating-four {
    margin-right: 15px;
    margin-left: 0px;
}
#rating-five {
    margin-right: 15px;
    margin-left: 0px;
}

#route-input-dropdown {
    width: 50%;
    height: 30px;
    text-align: center;
}

input[type='text'] {
    width: 80%;
    height: 30px;
    border: none;
    /* border: 2px solid black; */
    color: black;
    background-color: white;
}

#ratings-container {
    width: 85%;
}

#radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hike-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hike-cover {
    width: 200px;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.hike-card {
    background-color: white;
    /* background-color: #BBADA0; */
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(8px 8px 10px black);
    font-size: 20px;
    border-style: solid;
    border-color: #4A5859;
    border-width: 10px;
    border-radius: 12px;
    transition: 0.3s;
}
.hike-card:hover {
    border-width: 15px;
}

.delete-btn {
    background-color: white;
    width: 75px;
    height: 25px;
    color: black;
    border-style: solid;
    border-color: #4A5859;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.delete-btn:hover {
    border-color: #7e9293;
    font-weight: bold;
    font-size: 13.7px;
}

.card-p {
    margin-top: 0;
}

.rate {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#hike-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
}

#utah-hikes-list {
    background-color: white;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.water {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.entry-description {
    display: flex;
    justify-content: center;
    font-weight: 100;
    color: white;
}

.calculator {
    color: white;
    width: 350px;
    height: 350px;
    /* background-color: #4B543B; */
    /* background-color: #ACBDBA; */
    background-color: #4A5859;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    margin-top: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    border-width: 10px;
    transition: 0.3s;
}
.calculator:hover {
    filter: drop-shadow(8px 8px 10px black);
}

#calculate-btn {
    background-color: white;
    width: 75px;
    height: 25px;
    color: black;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.3s;
}
#calculate-btn:hover {
    font-weight: bold;
    border-color: #32373b;
    font-size: 13.7px;
}

#total-water {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .page-title {
       margin-top: 20%;
       font-size: 50px;
    }

    .main-div {
        margin-top: 55%;
    }
}